.header-bg-white {
  background-color: white;
}

.dc-logo {
  width: 80px;
}

.dc-black {
  color: #1c1c1c;
  font-weight: 600;
}

.header-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dark-bg {
  background-color: #1c1c1c;
}

.comic-li {
  width: 16.6666666667%;
}

.comic-title {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.comic-button {
  background-color: #0282f9;
  color: white;
  border: none;
  font-weight: 600;
}

.empty-row {
  background-color: #0282f9;
}

.footer-bg {
  background-color: #1c1c1c;
}

.footer-button {
  border: 1px solid #0282f9;
  background-color: transparent;
  color: white;
}

.follow-us {
  color: #0282f9;
  font-weight: 600;
}