.header-bg-white {
  background-color: white;
}

.dc-logo {
  width: 80px;
}

.dc-black {
  color: #1c1c1c;
  font-weight: 600;
}

.header-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.dark-bg {
  background-color: #1c1c1c;
}

.comic-li {
  width: 16.6666666667%;
}

.comic-title {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
}

.comic-button {
  background-color: #0282f9;
  color: white;
  border: none;
  font-weight: 600;
}

.empty-row {
  background-color: #0282f9;
}

.thumb-container {
  width: 150px;
  height: 150px;
}
.thumb-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  width: 100%;
  height: 100%;
}

.footer-bg {
  background-color: #1c1c1c;
}

.footer-button {
  border: 1px solid #0282f9;
  background-color: transparent;
  color: white;
}

.follow-us {
  color: #0282f9;
  font-weight: 600;
}

.detail-bg {
  background-image: url("/images/jumbotron.jpg");
  background-size: cover;
  height: 50vh;
}

.blue-row {
  background-color: #0282f9;
}

.comic-img-container {
  position: absolute;
  top: 200px;
  border: 3px solid white;
}

.price-and-availability {
  background-color: #55ba5b;
  border-bottom: 3px solid #81a983;
}

.green-text {
  color: #95f592;
}

.title-color {
  color: #11405e;
}

.fs-14 {
  font-size: 14px;
}

.grey-text {
  color: #7a777c;
}

.adv {
  text-align: right;
}

.sub-text {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #00a9d9;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}

.above-text {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #00a9d9;
  color: white;
  padding: 5px;
  text-transform: uppercase;
  font-size: 12px;
  text-align: center;
}