// Jumbotron
.detail-bg {
    background-image: url('/images/jumbotron.jpg');
    background-size: cover;
    height: 50vh;
}
// Blue row separator
.blue-row {
    background-color: #0282f9;
}

.comic-img-container {
    position: absolute;
    top: 200px;
    border: 3px solid white;
}

// Price
.price-and-availability {
    background-color: #55ba5b;
    border-bottom: 3px solid #81a983;
}

// Colors
.green-text {
    color: #95f592
}

// Title
.title-color {
    color: #11405e;
}

// Font-size
.fs-14 {
    font-size: 14px;
}

// Grey text
.grey-text {
    color: #7a777c;
}

