// Background
.footer-bg {
    background-color: #1c1c1c;
}
// Button
.footer-button {
    border: 1px solid #0282f9;
    background-color: transparent;
    color: white;
}

.follow-us {
    color: #0282f9;
    font-weight: 600;
}