// Bg
.dark-bg {
    background-color: #1c1c1c;
}

// List
.comic-li {
    width: calc(100% / 6);
    
}

// Titles
.comic-title {
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

// Load More - Button style
.comic-button {
    background-color: #0282f9;
    color: white;
    border: none;
    font-weight: 600;
}

// Empty blue row
.empty-row {
    background-color: #0282f9;
}

// Square comic thumbs

.thumb-container {
    width:150px;
    height:150px;
    
    img{
        object-fit: cover;
        object-position: top;
        width: 100%;
        height:100%;
    }
}